<div class="modal" id="plan-comment">
<div>
	<p class="comment">Incluir comentario:</p>
	<div class="input">
		<%= text_area_tag 'plan_comment' %>
	</div>
	<aside class="close">
		<button class="btn send-comment">Enviar</button>
		<p>Cerrar <span class="X">[X]</span></p>
	</aside>
</div>
</div>