<p id="notice"><%= notice %></p>

<h1>Descargar Planificaciones</h1>

<%= render 'search_form' %>


  <% @planifications.each do |plan| %>
  <table class="plan_list_wrapper">
    <%= render partial: 'plan_box', locals: {plan: plan} %>
  </table>
  <% end %>
