<h1>Nueva Planificación</h1>

<%= render 'form', planification: @planification %>

<%= link_to 'Back', planifications_path %>

<div>
<script type="text/javascript">
  $("#lecture-button").click(function () {
     $("#lecture-form").append("<%= escape_javascript(" #{render partial: 'lectures/form', locals: {f: @builder, planification: @planification} }").html_safe %>");
  });
</script>
</div>
