<h1> <%= @grade.name %> </h1>
<h2> <%= @subject.name %> </h2>

<% @grades_subjects_teacher.planifications.each do |p| %>
  <p> <%= p.name %> </p>
<% end %>

<%= link_to 'Crear Planificación', new_planification_path(grades_subjects_teacher_id: @grades_subjects_teacher.id) %>
