<%= form_for @subjects_teacher do |form| %>

  <div class="field">
    <%= form.hidden_field :subject_id%>
    <%= form.select :subject_id, ["Agrega Asignatura..."] | school.subjects.all.map { |s| [s.name, "#{s.id}"] } %>
  
    <%= form.submit 'Agregar' %>
  </div>
<% end %>
