<p id="notice"><%= notice %></p> 
<div class="info_form">
  <h3> Escuelas Registradas </h3>
  <% @user.schools.each do |school| %>
    <p> <%= button_to school.name, school_path(school.id), :class=>"links", :method => :get %> </p> 

		<% if can? :destroy, school %>
    	<%= link_to 'Eliminar', school, method: :delete, data: { confirm: '¿Estás seguro(a) que deseas eliminar esta escuela?' } %></td>
    <% end %>
    
  <% end %>


  <% if can? :create, School %>
    <%= button_to "Ingresar Nuevo Colegio", new_school_path, :class=>"links", :method => :get %>
  <% end %>
</div>
