
<menu>
  <h3> (Jefe UTP) </h3>
  <h3> Colegios Registrados </h3>
  <% @user.schools.each do |school| %>
    <p> <%= school.name %> </p>
  <% end %>

    <li class="current"><a href="#">Home</a></li>
    <li><a href="#">  <% if can? :create, School %>
        <%= link_to "Ingresar Nuevo Colegio", new_school_path %>
      <% end %></a></li>

</menu>
