<p id="notice"><%= notice %></p> 
<div class="info_form">
  <h3> Colegios Registrados </h3>
  <% @user.schools.each do |school| %>
    <p> <%= button_to school.name, school_path(school.id), :class=>"links", :method => :get %> </p>
  <% end %>


  <% if can? :create, School %>
    <%= button_to "Ingresar Nuevo Colegio", new_school_path, :class=>"links", :method => :get %>
  <% end %>
</div>
