<h3> Hola <%= @user.name %> </h3>

  <% if @user.role == "Profesor" %>
    <%= render 'teacher_profile', user: @user %>
  <% elsif @user.role == "Jefe UTP" %>
    <%= render 'utp_profile', user: @user %>
  <% end %>
