<h1>Editing School</h1>

<%= render 'form', school: @school %>

<%= button_to 'Ver', @school, :class=>"links", :method => :get %> |
<%= button_to 'Atrás', schools_path, :class=>"links", :method => :get %>
